body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:rgb(12, 27, 160);
    margin-top: 0px;
    border: 50px solid rgb(217, 219, 96);
    border-top: 0px;
    text-align: center;
}
h2{
    margin: 10%;
    font-size: 2.5em;
}
p{
    margin: 2%;
    font-size: 1.2em;
    padding-top: 5%;
    padding-left: 10%;
}

